[submodule "lib/Chimera"]
	path = lib/Chimera
	url = git@github.com:brandonbraun653/Chimera.git
[submodule "lib/strtk"]
	path = lib/strtk
	url = https://github.com/ArashPartow/strtk.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
